{% extends "layout.html" %}

{% block title %}Riwayat Prediksi{% endblock %}

{% block content %}
    <h1 class="text-center">Riwayat Prediksi</h1>
    <p>Berikut adalah riwayat prediksi yang telah dilakukan:</p>
    <!-- Tabel riwayat prediksi -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Keterampilan Teknis</th>
                <th>Preferensi Lokasi</th>
                <th>Program Studi</th>
                <th>Industri</th>
                <th>Hasil Prediksi</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data riwayat prediksi akan dimasukkan di sini -->
        </tbody>
    </table>
{% endblock %}
